<div class="p-10">
  <p class="text-primary text-right font-extrabold text-6xl mr-10">POLYAS</p>
  <hr class="h-1 mt-8 bg-secondary border-0">
</div>
<div class="mx-10">
  <p class="text-xl">Employee: <span class="text-primary font-bold">{{ selectedResult?.name}}</span></p>
  <p class="text-xl mt-5">Employee feedback on job duties and time to complete them</p>
  <p class="text-lg mt-3 ml-5 text-primary font-bold">{{ selectedResult.job }}</p>
  <p class="text-xl mt-5">Employee feedback on their strengths and weaknesses</p>
  <p class="text-lg mt-3 ml-5 text-primary font-bold">{{ selectedResult.personal }}</p>
  <p class="text-xl mt-5">Additional employee feedback</p>
  <p class="text-lg mt-3 ml-5 text-primary font-bold">{{ selectedResult.feedback }}</p>
</div>
<hr class="h-1 mx-10 mt-8 bg-secondary border-0">
<div class="mx-10 text-primary">
  <div *ngFor="let answer of selectedResult.answers" class="grid grid-cols-4 mt-3 gap-5">
    <p class="col-span-3 text-lg">{{ answer.question}}</p>
    <p class="text-lg text-black">{{ answer.answer}}</p>
    <hr class="h-1 mt-8 bg-secondary border-0 col-span-4">
  </div>
</div>
